html,
body {
    font-size: 10px;
    background-color: #F5F5F5;
}

.box {
    position: relative;
}

.search {
    width: 90%;
    margin: 0 auto;
    position: relative;
    /* padding: 1rem; */
    margin-bottom: 1rem;
}

input {
    width: 100%;
    height: 4rem;
    font-size: 1.4rem;
}

.search span {
    display: block;
    width: 2.2rem;
    position: absolute;
    right: 2rem;
    bottom: .8rem;
    padding-left: 1rem;
    border-left: 1px solid #a3a33a;
}

.search span img {
    display: block;
    width: 100%;
}

/* .list_u li span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
} */

/*制作三角形箭头*/
.sanjiao {
    width: 0;
    height: 0;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-top: 1rem solid #626060;
    position: absolute;
    top: 0.6rem;
    right: 1.4rem;

}
.y_sanjiao{
    width: 0;
    height: 0;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-bottom: 1rem solid #FF8A00;
    position: absolute;
    top: 0.6rem;
    right: 1.4rem;
}

/* .list_u li span img {
    width: 100%;
    height: 90%;
    transform: rotate(90deg);
} */

/* con */

.f_content {
    width: 100%;
    padding: 1rem 1rem;
    box-sizing: border-box;
    /* background-color: white; */
}

.f_content ul li {
    display: flex;
    justify-content: space-between;
    /* margin: 2rem 0; */
    border-bottom: 1px solid red;
    padding: 2rem 0;
}

.f_content ul li:nth-of-type(3) {
    border: none;
}

.f_left {
    width: 30%;
    /* background-color: #FF8A00; */
}

.f_left>img {
    width: 100%;
    display: block;
}

.f_right {
    width: 60%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /* background-color: #562929; */
}

.f_right b {
    font-size: 1.5rem;
    font-weight: 700;
}

.f_right p:nth-of-type(1) {
    font-size: 1.4rem;
    font-weight: 500;
}

.f_right p {
    /* margin-left: 2.5rem; */
    margin: .5rem 0;
    display: flex;
    /* justify-content: space-between; */
}

.f_right p:nth-of-type(2) span {
    color: #FF8A00;
    font-weight: 600;
}

.f_right p:nth-of-type(2) {
    color: #a3a3a3;
}

.f_right a span {
    display: inline-block;
    /* padding: 3px; */
    background-color: #F4F7F9;
    color: #A8AFBC;
}

/* 悬浮下拉框 */
/* .ontou:hover .xf{
    display: block;
} */
.xf {}

.list {
    width: 100%;
    /* height: 4rem; */
    background-color: white;
    /* margin-top: 1rem ; */
    z-index: 11 !important;
    padding: 1rem 0;
}

.list_u {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 1.8rem;
    color: #4d4b4b;
    align-items: center;
    /* border-bottom: 1px solid #676565;
    border-top: 1px solid #676565; */
    /* position: relative; */

}

.list_u li {
    width: 25%;
    text-align: center;
    position: relative;

}

.list_active {
    position: fixed;
    top: 0;
    /* left: 0; */
    z-index: 10;
    max-width: 600px;
    /* margin: 0 auto; */
    min-width: 230px;
}

/*遮罩层*/
.hide {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}

/* 第一个图 */
.area {
    display: flex;
    width: 100%;
    /* height: 8rem; */
    /* background-color: rgb(96, 59, 59); */
    position: fixed;
    top: 4rem;
    /* display: none;   */
    max-width: 600px;
    margin: 0 auto;
    height: 0;
    overflow: hidden;
    z-index: 10;
}


.title {
    font-size: 1.8rem;
    /* width: 200rem; */
    width: 30%;
    background-color: #F0F0F0;

}

.title p {
    padding: 1rem 0;
    text-align: center;
}

.title p:nth-of-type(1) {
    background-color: white;
    color: #FF8A00;
}

.hideList {
    /* flex:69; */
    width: 70%;
    display: flex;
    background-color: white;
}

.hideList ul {
    display: flex;
    flex-wrap: wrap;
}

.hideList li {
    width: 50%;
    font-size: 1.4rem;
    padding: 1rem 0;
    text-indent: 2rem;
}

.hideList li a {
    color: #666666;
}

.hideList li:nth-of-type(1) a {
    color: #FF8A00;
}

.hideList li:nth-of-type(8) a {
    color: #FF8A00;
}

/* 第二个图 */
.price {
    /* display: flex; */
    width: 100%;
    /* height: 8rem; */
    /* background-color: rgb(96, 59, 59); */
    position: fixed;
    top: 4rem;
    /* display: none;   */
    max-width: 600px;
    margin: 0 auto;
    height: 0;
    overflow: hidden;
    background-color: white;
    /* padding: 1rem; */
    box-sizing: border-box;
    z-index: 10;
}

.price ul li {
    height: 5rem;
    line-height: 5rem;
    color: #666666;
    /* padding: 1rem; */
    width: 100%;
    font-size: 1.4rem;
    text-indent: 2rem;
    border-bottom: 1px solid #E7E7E7;
    /* box-sizing: border-box; */
}

.house {
    /* display: flex; */
    width: 100%;
    /* height: 8rem; */
    /* background-color: rgb(96, 59, 59); */
    position: fixed;
    top: 4rem;
    /* display: none;   */
    max-width: 600px;
    margin: 0 auto;

    background-color: white;
    /* padding: 1rem; */
    box-sizing: border-box;
    z-index: 10;
    height: 0;
    overflow: hidden;
}

.house ul li {
    height: 5rem;
    line-height: 5rem;
    color: #666666;
    /* padding: 1rem; */
    width: 100%;
    font-size: 1.4rem;
    text-indent: 1rem;
    border-bottom: 1px solid #E7E7E7;
}

.house ul li span {
    border: 1px solid #666666;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    float: right;
    margin-right: 2rem;
    margin-top: 1.5rem;
}

.house ul li:last-child a {
    display: block;
    background-color: #FF8A00;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
}

/* more */

.more {
    /* background: #fff; */
    width: 100%;
    height: 10rem;
    background-color: white;
    padding: 0 2rem;
    box-sizing: border-box;
    position: fixed;
    top: 4rem;
    z-index: 10;
    font-size: 1.4rem;
    height: 0;
    overflow: hidden;
}
.more h3 {
    padding: 2rem 0 1.2rem 0;
    font-size: 2.0rem;
}

.more .childList {
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*flex-flow: wrap;*/
    /* padding-bottom: 1.5rem; */
    border-bottom: 1px solid #ccc;
    overflow: hidden;


}

.more .childList li {
    float: left;
    /*flex: 1;*/
    width: 22%;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    border: 1px solid #cccccc;
    text-align: center;
    margin-left: 0.5rem;
    margin-bottom: 2rem;
    height: 2.3rem;
    line-height: 2.5rem;
    font-size: 1.6rem;
    padding: .5rem;


}

.more .clear {
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}

.more .btnOK {
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    background: #ff8a00;
}

.more .btnOK a {
    color: #fff;
    width: 100%;
    height: 100%;
    display: inline-block;
}


/* liebiao  的子元素的active*/
.liebiao_active {
    height: auto;
}